body {
  --bg: #f8f8f8;
  --websiteTitle: #e06882;
  --textNormal: #232838;
  --textTitle: #BE957A;
  --menuLink: #e06882;
  --textLink: #1898d4;
  --inlineCode-bg: #df698245;
  --inlineCode-text: #1a1a1a;
  --code-bg: rgb(51, 58, 75);

  background-color: var(--bg);
  transition: color 0.2s ease-out, background 0.2s ease-out;
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: #232838;
  --websiteTitle: #D76153;
  --textNormal: #E4DED5;
  --textTitle: #E8B865;
  --menuLink: #D76153;
  --textLink: #8dd6f8;
  --inlineCode-bg: rgb(51, 58, 75);
  --inlineCode-text: #e6e6e6;
  --code-bg: rgb(51, 58, 75);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  background: var(--inlineCode-bg);
  color: var(--inlineCode-text);
}

/* Code */
pre[class*="language-"] {
  background: var(--code-bg);
}

/* Inline code & code */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  font-variant-ligatures: none;
  font-feature-settings: normal;
}
